{% extends "blog/base.html" %} {%load crispy_forms_tags %} {% block content%}


<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{user.profile.image.url}}" />
    <div class="media-body">
      <h2 class="account-heading">{{user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>

      <form action="{% url 'redirect_to_alpaca' %}" method="get">
          <button type="submit" class="btn btn-primary mb-2">Connect Brokerage</button>
        </form>
    </div>
  </div>

   <!-- Positions list -->
  <h3>Current Positions</h3>
  <ul class="list-group mb-4">
    {% for position in positions %}
      <li class="list-group-item">
        <strong>Symbol:</strong> {{ position.symbol }}<br>
        <strong>Date Executed:</strong> {{ position.filled_at }}<br>
        <strong>Buy Price:</strong> {{ position.buy_price }}<br>
     
      </li>
    {% empty %}
      <li class="list-group-item">No positions to display.</li>
    {% endfor %}
  </ul>

  <!-- Updates Image data properly-->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Edit Profile</legend>

      <!--RENDER CONECT FORMS BACK2BACK-->
      {{ u_form|crispy }} {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
</div>

{%endblock content%}
